<?xml version="1.0" encoding="utf-8"?><!--
/*
**
** Copyright (c) 2021, Lawnchair
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
**     http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
*/
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.google.android.apps.nexuslauncher.permission.QSB" />

    <permission
        android:name="${packageName}.permission.READ_SETTINGS"
        tools:node="remove" />
    <permission
        android:name="${packageName}.permission.WRITE_SETTINGS"
        tools:node="remove" />
    <permission
        android:name="${packageName}.permission.HOTSEAT_EDU"
        tools:node="remove" />

    <application>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="app.lawnchair.ui.preferences.PreferenceActivity"
            android:autoRemoveFromRecents="true"
            android:exported="true"
            android:label="@string/settings_button_text"
            android:theme="@style/Theme.Lawnchair"
            android:windowSoftInputMode="adjustResize">
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.android.launcher3.secondarydisplay.SecondaryDisplayLauncher"
            tools:node="remove" />

        <activity
            android:name="app.lawnchair.BlankActivity"
            android:theme="@style/Theme.Transparent" />

        <activity
            android:name="app.lawnchair.smartspace.SmartspacePreferencesShortcut"
            android:theme="@style/Theme.Transparent" />

        <receiver
            android:name="app.lawnchair.gestures.handlers.SleepMethodDeviceAdmin$SleepDeviceAdmin"
            android:description="@string/dt2s_admin_hint"
            android:exported="true"
            android:label="@string/derived_app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/sleep_policy" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <service
            android:name="app.lawnchair.LawnchairAccessibilityService"
            android:exported="false"
            android:label="@string/derived_app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

        <provider
            android:name="app.lawnchair.bugreport.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name="app.lawnchair.bugreport.BugReportReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.bugreport.COPY" />
                <action android:name="${applicationId}.bugreport.UPLOAD" />
                <action android:name="${applicationId}.bugreport.UPLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <service
            android:name="app.lawnchair.bugreport.UploaderService"
            android:enabled="true"
            android:exported="false"
            android:process=":bugReport" />

        <receiver
            android:name="app.lawnchair.smartspace.SmartspaceAppWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/smartspace_appwidget_info" />
        </receiver>

        <meta-data
            android:name="xyz.paphonb.quickstepswitcher.minSdk"
            android:value="${quickstepMinSdk}" />

        <meta-data
            android:name="xyz.paphonb.quickstepswitcher.maxSdk"
            android:value="${quickstepMaxSdk}" />

        <provider
            android:name="org.chickenhook.restrictionbypass.BypassProvider"
            android:authorities="${applicationId}.restrictionbypass"
            tools:node="remove"/>
    </application>
</manifest>
