db_files
*.iml
.project
.classpath
.project.properties
**/gen
tests/stress/gen/
WallpaperPicker/gen/
WallpaperPicker/.project.properties
bin/
.idea/*
!.idea/icon.png
.gradle/
local.properties
**/build/**
.DS_Store
keystore.properties
*.jks
__pycache__
