db_files
*.iml
*.md5sum
.project
.settings
.classpath
.project.properties
gen/
tests/stress/gen/
WallpaperPicker/gen/
WallpaperPicker/.project.properties
bin/
.gradle/
changelog.txt
local.properties
build/
.DS_Store
captures/
!/.idea/copyright
!/.idea/codeStyles
/.idea/dictionaries
/.idea/inspectionProfiles
/.idea/libraries
/.idea/caches
/.idea/markdown-navigator
/.idea/*.xml
out/