<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.deletescape.lawnchair"
    android:installLocation="internalOnly">

    <permission
        android:name="com.android.launcher.permission.INSTALL_SHORTCUT"
        android:description="@string/permdesc_install_shortcut"
        android:label="@string/permlab_install_shortcut"
        android:protectionLevel="dangerous" />
    <permission
        android:name="${applicationId}.permission.QSB"
        android:label="QSB"
        android:protectionLevel="normal" />
    <permission
        android:name="${applicationId}.permission.READ_SETTINGS"
        android:description="@string/permdesc_read_settings"
        android:label="@string/permlab_read_settings"
        android:protectionLevel="normal" />
    <permission
        android:name="${applicationId}.permission.WRITE_SETTINGS"
        android:description="@string/permdesc_write_settings"
        android:label="@string/permlab_write_settings"
        android:protectionLevel="signatureOrSystem" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="${applicationId}.permission.READ_SETTINGS" />
    <uses-permission android:name="${applicationId}.permission.WRITE_SETTINGS" />
    <uses-permission android:name="${applicationId}.permission.QSB" />

    <application
        android:name=".App"
        android:backupAgent=".LauncherBackupAgent"
        android:fullBackupContent="@xml/backupscheme"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:restoreAnyVersion="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".Launcher"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:resumeWhilePausing="true"
            android:stateNotNeeded="true"
            android:taskAffinity=""
            android:theme="@style/LauncherTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.max_aspect"
                android:value="2.1" />

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".settings.ui.SettingsActivity"
            android:autoRemoveFromRecents="true"
            android:label="@string/settings_button_text"
            android:theme="@style/SettingsHome">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.deletescape.wallpaperpicker.WallpaperPickerActivity"
            android:finishOnCloseSystemDialogs="true"
            android:label="@string/pick_wallpaper"
            android:screenOrientation="portrait"
            android:theme="@style/WallpaperTheme.Picker">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.deletescape.wallpaperpicker.WallpaperCropActivity"
            android:finishOnCloseSystemDialogs="true"
            android:label="@string/crop_wallpaper"
            android:screenOrientation="portrait"
            android:theme="@style/WallpaperTheme">
            <intent-filter>
                <action android:name="android.service.wallpaper.CROP_AND_SET_WALLPAPER" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kustomsupport.AutoFinishTransparentActivity"
            android:theme="@style/Theme.Transparent" />

        <provider
            android:name=".kustomsupport.Kustom5SecsProvider"
            android:authorities="${applicationId}.kustomsupport.kustom5secsprovider"
            android:exported="true"
            android:grantUriPermissions="true" />
        <provider
            android:name=".LauncherProvider"
            android:authorities="${applicationId}.settings"
            android:exported="true"
            android:readPermission="ch.deletescape.lawnchair.permission.READ_SETTINGS"
            android:writePermission="ch.deletescape.lawnchair.permission.WRITE_SETTINGS" />

        <receiver
            android:name=".InstallShortcutReceiver"
            android:permission="com.android.launcher.permission.INSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AppWidgetsRestoredReceiver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_HOST_RESTORED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".notification.NotificationListener"
            android:label="@string/notification_listener_label"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".dynamicui.ColorExtractionService"
            android:exported="false"
            android:label="@string/color_extraction_label"
            android:process=":color_extraction" />

        <meta-data
            android:name="android.nfc.disable_beam_default"
            android:value="true" />

        <activity
            android:name=".iconpack.EditIconActivity"
            android:parentActivityName=".Launcher"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name=".iconpack.IconPickerActivity"
            android:parentActivityName=".iconpack.EditIconActivity"
            android:theme="@style/SettingsTheme" />

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="${awarenessApiKey}" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${awarenessApiKey}" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".BlankActivity"
            android:theme="@style/Theme.Transparent" />

        <activity-alias
            android:name=".FakeLauncher"
            android:enabled="false"
            android:targetActivity=".BlankActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>