.dark {
  --md-sys-color-primary: rgb(155 212 160);
  --md-sys-color-surface-tint: rgb(155 212 160);
  --md-sys-color-on-primary: rgb(0 57 21);
  --md-sys-color-primary-container: rgb(27 81 41);
  --md-sys-color-on-primary-container: rgb(182 241 187);
  --md-sys-color-secondary: rgb(184 204 182);
  --md-sys-color-on-secondary: rgb(35 52 37);
  --md-sys-color-secondary-container: rgb(57 75 58);
  --md-sys-color-on-secondary-container: rgb(211 232 209);
  --md-sys-color-tertiary: rgb(161 206 215);
  --md-sys-color-on-tertiary: rgb(0 54 62);
  --md-sys-color-tertiary-container: rgb(31 77 85);
  --md-sys-color-on-tertiary-container: rgb(189 234 244);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(16 21 16);
  --md-sys-color-on-background: rgb(224 228 220);
  --md-sys-color-surface: rgb(16 21 16);
  --md-sys-color-on-surface: rgb(224 228 220);
  --md-sys-color-surface-variant: rgb(65 73 65);
  --md-sys-color-on-surface-variant: rgb(193 201 190);
  --md-sys-color-outline: rgb(139 147 137);
  --md-sys-color-outline-variant: rgb(65 73 65);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 228 220);
  --md-sys-color-inverse-on-surface: rgb(45 50 44);
  --md-sys-color-inverse-primary: rgb(53 105 63);
  --md-sys-color-primary-fixed: rgb(182 241 187);
  --md-sys-color-on-primary-fixed: rgb(0 33 9);
  --md-sys-color-primary-fixed-dim: rgb(155 212 160);
  --md-sys-color-on-primary-fixed-variant: rgb(27 81 41);
  --md-sys-color-secondary-fixed: rgb(211 232 209);
  --md-sys-color-on-secondary-fixed: rgb(15 31 17);
  --md-sys-color-secondary-fixed-dim: rgb(184 204 182);
  --md-sys-color-on-secondary-fixed-variant: rgb(57 75 58);
  --md-sys-color-tertiary-fixed: rgb(189 234 244);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 36);
  --md-sys-color-tertiary-fixed-dim: rgb(161 206 215);
  --md-sys-color-on-tertiary-fixed-variant: rgb(31 77 85);
  --md-sys-color-surface-dim: rgb(16 21 16);
  --md-sys-color-surface-bright: rgb(54 58 53);
  --md-sys-color-surface-container-lowest: rgb(11 15 11);
  --md-sys-color-surface-container-low: rgb(24 29 24);
  --md-sys-color-surface-container: rgb(28 33 28);
  --md-sys-color-surface-container-high: rgb(38 43 38);
  --md-sys-color-surface-container-highest: rgb(49 54 48);
  --md-extended-color-custom-color1-color: rgb(255 182 146);
  --md-extended-color-custom-color1-on-color: rgb(84 33 3);
  --md-extended-color-custom-color1-color-container: rgb(112 55 23);
  --md-extended-color-custom-color1-on-color-container: rgb(255 219 203);
}
