.dark-medium-contrast {
  --md-sys-color-primary: rgb(159 216 164);
  --md-sys-color-surface-tint: rgb(155 212 160);
  --md-sys-color-on-primary: rgb(0 27 7);
  --md-sys-color-primary-container: rgb(103 157 110);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(188 208 186);
  --md-sys-color-on-secondary: rgb(9 26 12);
  --md-sys-color-secondary-container: rgb(130 150 130);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(165 210 219);
  --md-sys-color-on-tertiary: rgb(0 26 30);
  --md-sys-color-tertiary-container: rgb(108 152 160);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 21 16);
  --md-sys-color-on-background: rgb(224 228 220);
  --md-sys-color-surface: rgb(16 21 16);
  --md-sys-color-on-surface: rgb(248 252 244);
  --md-sys-color-surface-variant: rgb(65 73 65);
  --md-sys-color-on-surface-variant: rgb(197 205 194);
  --md-sys-color-outline: rgb(157 165 155);
  --md-sys-color-outline-variant: rgb(126 133 124);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 228 220);
  --md-sys-color-inverse-on-surface: rgb(38 43 38);
  --md-sys-color-inverse-primary: rgb(29 82 42);
  --md-sys-color-primary-fixed: rgb(182 241 187);
  --md-sys-color-on-primary-fixed: rgb(0 21 5);
  --md-sys-color-primary-fixed-dim: rgb(155 212 160);
  --md-sys-color-on-primary-fixed-variant: rgb(5 63 26);
  --md-sys-color-secondary-fixed: rgb(211 232 209);
  --md-sys-color-on-secondary-fixed: rgb(5 20 8);
  --md-sys-color-secondary-fixed-dim: rgb(184 204 182);
  --md-sys-color-on-secondary-fixed-variant: rgb(41 58 42);
  --md-sys-color-tertiary-fixed: rgb(189 234 244);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 24);
  --md-sys-color-tertiary-fixed-dim: rgb(161 206 215);
  --md-sys-color-on-tertiary-fixed-variant: rgb(9 60 67);
  --md-sys-color-surface-dim: rgb(16 21 16);
  --md-sys-color-surface-bright: rgb(54 58 53);
  --md-sys-color-surface-container-lowest: rgb(11 15 11);
  --md-sys-color-surface-container-low: rgb(24 29 24);
  --md-sys-color-surface-container: rgb(28 33 28);
  --md-sys-color-surface-container-high: rgb(38 43 38);
  --md-sys-color-surface-container-highest: rgb(49 54 48);
  --md-extended-color-custom-color1-color: rgb(255 188 156);
  --md-extended-color-custom-color1-on-color: rgb(44 13 0);
  --md-extended-color-custom-color1-color-container: rgb(201 126 89);
  --md-extended-color-custom-color1-on-color-container: rgb(0 0 0);
}
