.light {
  --md-sys-color-primary: rgb(53 105 63);
  --md-sys-color-surface-tint: rgb(53 105 63);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(182 241 187);
  --md-sys-color-on-primary-container: rgb(0 33 9);
  --md-sys-color-secondary: rgb(81 99 81);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(211 232 209);
  --md-sys-color-on-secondary-container: rgb(15 31 17);
  --md-sys-color-tertiary: rgb(57 101 109);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(189 234 244);
  --md-sys-color-on-tertiary-container: rgb(0 31 36);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(247 251 242);
  --md-sys-color-on-background: rgb(24 29 24);
  --md-sys-color-surface: rgb(247 251 242);
  --md-sys-color-on-surface: rgb(24 29 24);
  --md-sys-color-surface-variant: rgb(221 229 218);
  --md-sys-color-on-surface-variant: rgb(65 73 65);
  --md-sys-color-outline: rgb(114 121 112);
  --md-sys-color-outline-variant: rgb(193 201 190);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(45 50 44);
  --md-sys-color-inverse-on-surface: rgb(238 242 234);
  --md-sys-color-inverse-primary: rgb(155 212 160);
  --md-sys-color-primary-fixed: rgb(182 241 187);
  --md-sys-color-on-primary-fixed: rgb(0 33 9);
  --md-sys-color-primary-fixed-dim: rgb(155 212 160);
  --md-sys-color-on-primary-fixed-variant: rgb(27 81 41);
  --md-sys-color-secondary-fixed: rgb(211 232 209);
  --md-sys-color-on-secondary-fixed: rgb(15 31 17);
  --md-sys-color-secondary-fixed-dim: rgb(184 204 182);
  --md-sys-color-on-secondary-fixed-variant: rgb(57 75 58);
  --md-sys-color-tertiary-fixed: rgb(189 234 244);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 36);
  --md-sys-color-tertiary-fixed-dim: rgb(161 206 215);
  --md-sys-color-on-tertiary-fixed-variant: rgb(31 77 85);
  --md-sys-color-surface-dim: rgb(215 219 211);
  --md-sys-color-surface-bright: rgb(247 251 242);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(241 245 236);
  --md-sys-color-surface-container: rgb(235 239 231);
  --md-sys-color-surface-container-high: rgb(229 233 225);
  --md-sys-color-surface-container-highest: rgb(224 228 220);
  --md-extended-color-custom-color1-color: rgb(141 78 44);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(255 219 203);
  --md-extended-color-custom-color1-on-color-container: rgb(52 16 0);
}
