name: Auto-merge Crowdin Pull Requests

on:
  pull_request:
    types: [opened]

jobs:

  build-debug-apk:
    name: Build debug APK
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'lawnchair-bot' && github.event.pull_request.title == 'New Crowdin translations by Github Action' 
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Set up Java 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
      - uses: gradle/gradle-build-action@v2
      - name: Write sign info
        if: github.repository == 'LawnchairLauncher/lawnchair'
        run: |
          if [ ! -z "${{ secrets.KEYSTORE }}" ]; then
            echo storePassword='${{ secrets.KEYSTORE_PASSWORD }}' >> keystore.properties
            echo keyAlias='${{ secrets.KEY_ALIAS }}' >> keystore.properties
            echo keyPassword='${{ secrets.KEY_PASSWORD }}' >> keystore.properties
            echo storeFile='${{ github.workspace }}/key.jks' >> keystore.properties
            echo ${{ secrets.KEYSTORE }} | base64 --decode > ${{ github.workspace }}/key.jks
          fi
      - name: Build debug APK
        run: ./gradlew assembleLawnWithQuickstepDebug
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: Debug APK
          path: build/outputs/apk/lawnWithQuickstep/debug/*.apk
    
  auto-merge:
    name: Auto-merge PR
    runs-on: ubuntu-latest
    needs: build-debug-apk
    steps:
      - env:
          GH_TOKEN: ${{ secrets.LAWNCHAIR_BOT_TOKEN }}
          PR_URL: ${{ github.event.pull_request.html_url }}
        run: |
          gh pr comment $PR_URL --body "No issues found, auto-merging the Crowdin pull request."
          gh pr merge $PR_URL --rebase --delete-branch
